@use 'variables' as *;

@mixin card-interactive {
  border-radius: $radius-md;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--mat-sys-level3);
  }
}
